bcrypt==4.1.2
blinker==1.7.0
cachelib==0.12.0
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
msgspec==0.18.6
mysqlclient==2.2.4
packaging==24.0
plotly==5.22.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.3
requests==2.32.3
rsa==4.9
SQLAlchemy==2.0.29
tenacity==8.3.0
typing_extensions==4.10.0
urllib3==2.2.2
Werkzeug==3.0.1
