.App {
  background-color: rgb(254, 218, 232);
  min-height: 100vh;
}

.login-form, .register-form {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-items: center;
}

.register-page {
  margin-top: 3rem;
}

.login-page {
  margin-top: 7rem;
}

.auth-form-container {
  margin: 0 20rem;
  padding: 5rem;
  text-align: center;
  border-radius: 10px; 
  background-color: #491D74;
  vertical-align: center;
}

.divider{
  width: 1rem;
  height: 1rem;
  display: inline-block;
}


.label {
  text-align: left;
  padding: 0.5rem 0;
}

input {
  margin: auto;
  width: 20rem;
  float: right;
}

button {
  background-color: #f68b1e;
  color: white;
  width: fit-content;
  padding: 5px;
}

.link-btn {
  color: white;
}

.info-bantu {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10 rem;
  width: 65%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: normal;
}

.package-container {
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: auto
}

.package-info {
  flex: 1;
}

.button-container {
  display: flex;
}

.button-container input[type="file"] {
  margin-right: 1px;
}

.button-container button {
  background-color: #f68b1e;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes the button to the right */
}


.button-general button {
  background-color: #f68b1e;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}


.button-general button:hover {
  background-color: #d96e03;
}

.button-container button:hover {
  background-color: #d96e03;
}

/* InvoiceStatus.css */
.dropdown-menu {
    display: inline-block;
    margin-left: 10px;
}

.dropdown-menu select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.dropdown-menu select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.link :hover{
  background-color: #777;
}

.package-request-form {
  display: flex;
  flex-direction: column;
}

.package-request-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.package-request-form label {
  flex: 0 0 150px; /* Adjust the width as needed */
  margin-right: 1em;
}

.package-request-form input {
  flex: 1;
  padding: 0.5em;
}

.button-general {
  text-align: right;
}

.status-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap as needed */
}

.status-section p {
  margin: 0;
}

.status-dropdown {
  margin-left: 10px; /* Adjust margin as needed */
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  flex: 1;
  margin-right: 1rem;
}

.form-group .input-field {
  flex: 2;
}

.input-field,
.editable-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.status-section {
  margin-top: 1rem;
}

.status-dropdown {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.button-general {
  margin-top: 1rem;
}

.post-container {
  width: 50rem;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard {
  padding: 20px;
  background-color: #f4f4f4;
}

.post-by-time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tickets-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
}

.chart-box {
  background-color: #09162b;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.chart-box-1 {
  background-color: #09162b;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  width: 45rem;
}

.chart-box-0 {
  background-color: #09162b;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 50rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.plotly-chart-container {
  width: 100%;
  height: 400px;
  margin: auto;
  color: #000000;
}

.count-boxes {
  width: 40%;
}

.count-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 50%;
}