  .post-card {
    margin-bottom: 20px; 
    /* overflow-y: auto; /* Enable vertical scrolling when content exceeds max-height */
    /* max-height: 30vh;  */ 
  }

  .post-list {
    width: 60rem;
    align-items: center;
  }

  .post-list-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reply-link {
    cursor: pointer;
    display: inline; /* Ensure the "Reply" text is displayed inline */
  }

  .reply-main-container {
    margin-top: 20px; 
  }
  
  .each-reply-container {
    /* border: 1px solid #ccc;  */
    padding: 10px; 
  }
  
  .reply {
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .reply-content {
    margin-bottom: 5px; 
  }
  
  .reply-info {
    font-size: 0.8em; 
    color: #666; 
  }

  .forum-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.page-button-container {
  /* position: fixed;  */
  right: 100; 
  bottom: 0;
  width: 100%; 
}